/*主色*/
$uni-main-color: #ef4f3f;

/*辅助色*/
//成功色
$uni-success: #27ba9b;
//警示色
$uni-warning: #e19a30;
//报错色
$uni-danger: #ff4c4c;

/*中性色*/
// 主要文字
$uni-main-text-color: #2a2929;
// 次要文字
$uni-secondary-text-color: #818181;
// 占位文字
$uni-placeholder-text-color: #c2c1c1;
// 表单边框色
$uni-form-border-color: #d9d9d9;
// 分隔区域边框色
$uni-divider-color: #eeeeee;
// 背景色
$uni-bg-color: #f4f4f4;
// 中性色-黑色
$uni-black-color: #000000;
// 中性色-白色
$uni-white-color: #ffffff;

// 字号大小
$uni-font-size-big: 36rpx;
$uni-font-size-base: 32rpx;
$uni-font-size-small: 28rpx;
