.page-container {
  height: calc(100vh - 50rpx);
  background-color: $uni-bg-color;
  .user-profile {
    height: 584rpx;
    background-image: url('@/static/images/profile-bg@2x.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
    font-size: 30rpx;
    color: #fff;
    .avatar {
      width: 140rpx;
      height: 140rpx;
      margin-top: 90rpx;
      border-radius: 50%;
    }
    .username {
      margin: 10rpx 0;
      font-size: 36rpx;
    }
    .no {
      font-size: 28rpx;
    }
    .mobile {
      font-size: 28rpx;
    }
  }
  .month-overview {
    height: 268rpx;
    margin: 0 30rpx;
    border-radius: 16rpx;
    background-color: #fff;
    position: relative;
    top: -130rpx;
    .title {
      color: $uni-secondary-text-color;
      font-size: $uni-font-size-small;
      padding-top: 28rpx;
      text-align: center;
      &::after,
      &::before {
        content: '-';
        margin: 0 10rpx;
      }
    }
    .content {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-top: 40rpx;
      font-size: $uni-font-size-small;
      color: $uni-black-color;
      .volumn {
        display: block;
        font-size: 36rpx;
        margin-bottom: 20rpx;
        font-weight: 500;
      }
    }
  }
  .truck-meta {
    margin: -100rpx 30rpx 0;
    border-radius: 16rpx;
    overflow: hidden;
  }
}
