.scroll-view-wrapper {
  height: 100%;
  overflow: hidden;
  &:first-child {
    margin-top: 20rpx;
  }
  .card {
    background-color: #fff;
    padding: 24rpx 30rpx 0;
    border-radius: 16rpx;
    margin: 15rpx 30rpx 30rpx;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 44rpx;
      font-size: 32rpx;
      color: #2a2929;

      .title {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /*设置子元素排列方式*/
        -webkit-box-orient: vertical;
        /*设置显示的行数，多出的部分会显示为...*/
        -webkit-line-clamp: 1;
      }
      .tips {
        width: 104rpx;
        height: 44rpx;
        border: 2rpx solid #ef4f3f;
        border-radius: 22rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24rpx;
        color: #ef4f3f;
      }
    }

    .body {
      padding: 43rpx 0;
      border-bottom: 2rpx solid #f4f4f4;

      .time-line {
        position: relative;
        margin-left: 30rpx;
        padding: 0 30rpx;
        border-left: 2rpx dashed red;

        &::before {
          content: '起';
          display: block;
          position: absolute;
          left: -24rpx;
          top: -1rpx;
          width: 44rpx;
          height: 44rpx;
          background: #2a2929;
          font-size: 24rpx;
          color: #ffffff;
          border-radius: 22rpx;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &::after {
          content: '止';
          display: block;
          width: 44rpx;
          height: 44rpx;
          bottom: -1rpx;
          background: #ef4f3f;
          font-size: 24rpx;
          color: #ffffff;
          position: absolute;
          left: -24rpx;
          border-radius: 22rpx;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .line {
        font-size: 28rpx;
        color: #818181;
        margin-top: 30rpx;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 33rpx 0;

      .time {
        view:first-child {
          color: #818181;
          font-size: 32rpx;
        }
      }
    }
  }

  .action {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    align-items: center;
    height: 64rpx;
    padding: 0 40rpx;
    background-color: $uni-main-color;
    color: #fff;
    font-size: $uni-font-size-small;
    border-radius: 64rpx;
    transform: translate(0, -50%);

    &.disabled {
      background-color: #fadcd9;
    }
  }
}

.task-blank {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 201rpx;
  text-align: center;
  padding-top: 130rpx;
  background-image: url(https://sl-driver.oss-cn-hangzhou.aliyuncs.com/images/blank%402x.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 24rpx;
  color: $uni-secondary-text-color;
  transform: translate(-50%, -100%);
}
